section.image-view img {
  display: block;
  width: 80%;
  margin: auto;
}

 
.registration{
	padding: 0;
	margin: 0;
}

.center-button{
  margin: 0 auto;
}

.center-wrapper{
  text-align: center;
}
.center-wrapper * {
  margin: 0 auto;
}